<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>My Cart</title>
</head>
<body>
    <div th:switch="${cart.isEmpty()}">
        <div th:case="false">
            <div class="card" style="width: 18rem;float: left;padding-left: 15px" th:each="c : ${cart}">
                <img th:width="100px" th:height="100px" th:src="${c.getPicture()}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${c.getName()}"/>
                    <p class="card-text" th:text="${c.getDescription()}"/>
                    <h6 class="card-title" th:text="${c.getPrice()} + ' soms'"></h6>
                    <form th:action="@{/coffix/removecart/{id} (id = ${c.getId()})}"   th:method="DELETE">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
        <div th:case="true">
            <p>There is nothing in your cart</p>
        </div>
    </div>
    <br>
    <a th:href="@{/coffix}" class="btn btn-primary">Add more</a>
</body>
</html>